<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.piv.andnow.tests"
          android:versionCode="1"
          android:versionName="1.0">
    <application>
        <uses-library android:name="android.test.runner" />
    </application>
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="me.piv.andnow"
                     android:label="Tests for me.piv.andnow"/>
</manifest>
